#image::after {
	content: '次代を担うグローバルリーダーを育成する';
	color: white;
	letter-spacing: .1em;
	font-size: 42px;
	position: absolute;
	top: 110px;
	right: 0;
	left: 0;
	padding: 15px;
	padding-left: 60px;
	background-color: rgba(0, 0, 0, .26);
}