body {
	margin: 0; padding: 0;
	width: 100%; height: 100%;
	position: relative;
}

body, header, section, main, footer, div, p {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body>header {
	width: 100%;
	position: relative;
	background-color: hsl(0, 100%, 100%);
	border-bottom: 5px solid hsl(232, 53%, 37%);
	padding: 8px;
	overflow: hidden;
	z-index: 114;
	box-shadow: 0 2px 10px 6px rgba(100,100,100,.22);
}

body>header img {
	width: 48px;
	height: 48px;
	float: left;
}

body>header h1 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	float: left;
	margin-left: 12px;
	padding-top: 10px;
	font-size: 19px;
	color: hsl(0, 0%, 40%);
}

#image {
	height: 500px;
	background-image: url(/YSFJH.jpg);
	background-size: cover;
	background-position: 50% 100%;
	position: relative;
}

#image::after {
	content: 'サイエンスエリートを育成する(迫真)';
	color: white;
	letter-spacing: .1em;
	font-size: 42px;
	position: absolute;
	top: 110px;
	right: 0;
	left: 0;
	padding: 15px;
	padding-left: 60px;
	background-color: rgba(0, 0, 0, .26);
}

nav.global {
	width: 100%;
	background-color: hsl(232, 55%, 24%);
}

nav.global ul {
	margin: 0 0;
	padding: 0 0;
	width: 100%;
	display: table;
	table-layout: auto;
}

nav.global ul li {
	display: table-cell;
}

nav.global ul li a {
	display: block;
	margin: auto 0;
	padding: 15px 10px;
	margin: 10px;
	border-right: 1px solid white;
	text-align: center;
	color: white;
	font-size: 18px;
	text-decoration: none;
}

nav.global ul li:last-child a {
	border-right: none;
}

nav.sub {
	position: absolute;
	margin-top: 20px;
	width: 250px;
}

nav.sub ul {
	margin: 0;
	margin-left: 20px;
	padding: 0;
	list-style-type: none;
}

nav.sub ul li {
	margin-bottom: 8px;
	padding: 8px;
	font-size: 18px;
	background-color: hsl(210, 80%, 45%);
	color: white;
}

main {
	position: absolute;
	left: 250px;
	right: 0;
	margin-top: 20px;
}

main::after {
	overflow: hidden;
}

main article {
	padding: 0 30px;
	margin-bottom: 10px;
}

main article header {
	margin: 0 -10px;
	padding-bottom: 15px;
	border-bottom: 1px solid gray;
	margin-bottom: 15px;
}

main article header h1 {
	display: inline-block;
	font-weight: normal;
	font-size: 24px;
	border-left: 7px solid hsl(28, 100%, 50%);
	padding: 2px;
	padding-left: 10px;
	margin: 0;
}

main article header .last-update {
	display: inline-block;
	float: right;
	font-size: 15px;
	padding-right: 10px;
	line-height: 40px;
}

main article p {
	line-height: 1.6em;
	padding-bottom: 5px;
}